@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  /* Font Settings */
  --title-font: "Baloo 2", cursive;
  --body-font: "PT Sans", sans-serif;
  --font-secondary: var(--title-font);
  font-family: var(--body-font);

  /* Colors */
  --title-color: rgb(60, 55, 49);
  --promotion-color-text: rgb(149, 139, 126);
  --body-color: rgb(60, 55, 49);
  --price-color: rgb(237, 100, 53);
  --used-button-color: rgb(255, 228, 212);
  --line-color: rgb(231, 230, 229);
  --button-text-color: rgb(69, 193, 199);
  --button-color: rgb(184, 228, 236);
  --promotion-color: rgb(69, 193, 199);
  --subtitle-color: rgb(149, 139, 126);
  --slide-border-color: rgb(255, 230, 212);
  --slide-pet-name-color: rgb(221, 102, 68);
  --slide-message-color: rgb(142, 142, 142);
  --color-bg-main: #fdf6f2;
  --color-bg-light-blue: #ddeef7;
  --color-bg-button: #ffe6d4;
  --color-text-primary: rgb(60, 55, 49);
  --color-text-secondary: rgb(149, 139, 126);
  --color-secondary: rgb(237, 100, 53);
  --white: #ffffff;
 /*Color for header*/
 --color-bg-main: rgb(242, 232, 228);
 --color-text-main: #3c3731;
 --color-text-secondary: #958b7e;
 --color-text-muted: rgb(107, 107, 107);
 --color-accent-main: #e76f4a;
 --color-accent-hover: #e0633c;
 --color-link: #ed6435;
 --color-link-hover: black;
 --color-btn-bg: #ffe8da;
 --color-btn-hover: #a9f3f7;
 --color-border: #45c1c7;
 --color-border-hover: #278388;
  /* Typography */
  --font-size-base: 16px;

  /* Layout */
  scroll-behavior: smooth;
  min-width: 320px;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
