@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root{
    --title-font: "Baloo 2", cursive;
    --body-font: "PT Sans", sans-serif;
    font-family: var(--body-font);
    --title-color: rgb(60, 55, 49);
    --body-color: rgb(60, 55, 49);
    --price-color: rgb(237, 100, 53);
    --promotion-color: rgb(69, 193, 199);
    scroll-behavior: smooth;
    min-width: var(--base-min-width);
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
