.our-shop__title {
    font-family: var(--title-font);
    color: var(--title-color);
}

.our-shop__button {
    font-family: var(--title-body);
}

.our-shop__item-price {
    color: var(--price-color);
}

.our-shop__description {
    color: var(--body-color);
}

.our-shop__categories-list-item {
    color: var(--title-color);
}
