/*

.promotion {
    max-height: 860px;
    padding-top: 110px;
    padding-bottom: 110px;
    background-image: url("../assets/images/promotion-background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.promotion__container {
    max-height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 480px;
    min-width: auto;
    margin-left: 20%;
}

.promotion__countdown {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.promotion__countdown-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0%;
}

.promotion__description {
    font-size: 19px;
    font-family: var(--body-font);
    color: var(--body-color);
    margin: 20px 0;
}

.promotion__title {
    font-size: 82px; 
    font-weight: bold;
    margin: 20px 0;
    font-family: var(--title-font);
    color: var(--title-color);
}

.promotion__label {
    font-size: 15px;
    font-weight: bold;
    margin: 20px 0;
    font-family: var(--body-font);
    color: var(--promotion-color);
}

.promotion__discount {
    font-size: 19px;
    font-weight: bold;
    margin: 20px 0;
    font-family: var(--body-font);
    color: var(--price-color);
}

.promotion__button {
    font-size: 16.5px;
    font-weight: bold;
    margin: 20px 0;
    font-family: var(--body-font);
    color: var(--promotion-color);
}

.promotion__countdown-number {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    font-family: var(--title-font);
    color: var(--title-color);
}

.promotion__countdown-label {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    font-family: var(--body-font);
    color: var(--body-color);
}

@media (max-width: 768px) {
    .promotion__container {
        margin-left: 0;
    }
}