.promotion {
    background-image: url("../assets/images/promotion-background.png");
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    background-color: var(--body-color);
}

.promotion__label {
    font-size: 15px;
    font-weight: bold;
    margin: 20px 0;
    font-family: var(--body-font);
    color: var(--promotion-color);
}

.promotion__title {
    font-size: 82px;
    font-weight: bold;
    font-family: var(--title-font);
    color: var(--title-color);
    line-height: 1.1;
}

.promotion__description {
    font-size: 19px;
    font-family: var(--body-font);
    color: var(--promotion-color-text);
    margin: 20px 0;
    margin-top: 25px;
    
}

.promotion__discount {
    font-size: 19px;
    font-weight: bold;
    margin: 20px 0;
    font-family: var(--body-font);
    color: var(--price-color);
}

.promotion__button {
    background: var(--color-btn-hover);
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
    color: var(--promotion-color);
    font-family: var(--body-font);
    margin-top: -2px;
    padding: 15px 38px;
}

.promotion__countdown-number {
    font-size: 36px;
    font-weight: bold;
    font-family: var(--title-font);
    color: var(--title-color);
}

.promotion__countdown {
    display: grid;
    grid-template-columns: repeat(4, 0.8fr);
    grid-gap: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
   
}

.promotion__countdown-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0%;
    height: 110px;
    width: 110px;
    border: 2px solid var(--color-border);
    border-radius: 10px;
    margin-bottom: 55px;
}

.promotion__container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
    width: 600px;
    margin: 30%;
    height: 865px;
}

.promotion__countdown-label {
    font-size: 15px;
    font-family: var(--body-font);
    color: var(--promotion-color-text);

}

@media 
only screen and (max-width: 1024px) {
    .promotion__container {
        margin: 0;
        padding: 20px;
    }
    .promotion__title {
        font-size: 60px;
    }
    .promotion__description {
        font-size: 16px;
        
    }
    .promotion__discount {
        font-size: 16px;
        
    }
    .promotion__countdown-number {
        font-size: 30px;
    }
    .promotion__countdown-item {
        height: 90px;
        width: 90px;
    }
    .promotion__countdown-label {
        font-size: 14px;
    }
}