<section class="carousel-new-arrivals">
  <div class="carousel-new-arrivals__container">
    <h2 class="carousel-new-arrivals__title">Our new arrivals</h2>
    <img
      width="75"
      src="assets/images/bone-icon.svg"
      alt="Bone icon"
      class="carousel-new-arrivals__icon"
    />
    <p class="carousel-new-arrivals__description">
      We offer affordable and safe toys and accessories for your pets.
    </p>
  </div>
  <div class="carousel-new-arrivals__items">
    <button
      class="carousel-new-arrivals__arrow carousel-new-arrivals__arrow--left"
      aria-label="Previous item"
    >
      &lt;
    </button>

    <div class="carousel-new-arrivals__item">
      <img
        width="318"
        class="carousel-new-arrivals__product-image"
        src="assets/images/vitalife-crunch-sticks-trea.png"
        alt="VITALIFE Crunch Sticks Treat"
      />
      <a class="carousel-new-arrivals__link" href="#"
        >VITALIFE Crunch Sticks Treat</a
      >
      <p class="carousel-new-arrivals__price">
        <data value="5">$5.00</data>
      </p>
      <button
        class="carousel-new-arrivals__button button carousel-new-arrivals__button--add-to-cart"
        data-hx-post="/cart/add"
        data-hx-vals='{"productId": 51}'
      >
        Add to Cart
      </button>
    </div>

    <div class="carousel-new-arrivals__item">
      <img
        width="318"
        class="carousel-new-arrivals__product-image"
        src="assets/images/duna-woven-toy.png"
        alt="DUNA Woven Toy"
      />
      <a class="carousel-new-arrivals__link" href="#">DUNA Woven Toy</a>
      <p class="carousel-new-arrivals__price">
        <data value="1.5">$1.50</data>
      </p>
      <button
        class="carousel-new-arrivals__button button carousel-new-arrivals__button--add-to-cart"
        data-hx-post="/cart/add"
        data-hx-vals='{"productId": 44}'
      >
        Add to Cart
      </button>
    </div>

    <div class="carousel-new-arrivals__item">
      <img
        width="318"
        class="carousel-new-arrivals__product-image"
        src="assets/images/sera-woven-leash.png"
        alt="SERA Woven Leash"
      />
      <a class="carousel-new-arrivals__link" href="#">SERA Woven Leash</a>
      <p class="carousel-new-arrivals__price">
        <data value="2">$2.00</data>
      </p>
      <button
        class="carousel-new-arrivals__button button carousel-new-arrivals__button--add-to-cart"
        data-hx-post="/cart/add"
        data-hx-vals='{"productId": 47}'
      >
        Add to Cart
      </button>
    </div>

    <div class="carousel-new-arrivals__item">
      <img
        width="318"
        class="carousel-new-arrivals__product-image"
        src="assets/images/opty-plastic-bowl.png"
        alt="OPTY Plastic Bowl"
      />
      <a class="carousel-new-arrivals__link" href="#">OPTY Plastic Bowl</a>
      <p class="carousel-new-arrivals__price">
        <data value="3">$3.00</data>
      </p>
      <button
        class="carousel-new-arrivals__button button carousel-new-arrivals__button--add-to-cart"
        data-hx-post="/cart/add"
        data-hx-vals='{"productId": 49}'
      >
        Add to Cart
      </button>
    </div>

    <div class="carousel-new-arrivals__item">
      <img
        width="318"
        class="carousel-new-arrivals__product-image"
        src="assets/images/ego-butterfly-toy.png"
        alt="EGO Butterfly Toy"
      />
      <a class="carousel-new-arrivals__link" href="#">EGO Butterfly Toy</a>
      <p class="carousel-new-arrivals__price">
        <data value="8">$8.00</data>
      </p>
      <button
        class="carousel-new-arrivals__button button carousel-new-arrivals__button--add-to-cart"
        data-hx-post="/cart/add"
        data-hx-vals='{"productId": 50}'
      >
        Add to Cart
      </button>
    </div>

    <button
      class="carousel-new-arrivals__arrow carousel-new-arrivals__arrow--right"
      aria-label="Next item"
    >
      &gt;
    </button>
  </div>
</section>
