<section class="carousel-new-arrivals">
  <div class="carousel-new-arrivals__container">
    <h2 class="carousel-new-arrivals__title">Our new arrivals</h2>
    <img
      width="75"
      src="img/global/bone-image.svg"
      alt="Bone icon"
      class="carousel-new-arrivals__image"
    />
    <p class="carousel-new-arrivals__description">
      We offer affordable and safe toys and accessories for your pets.
    </p>
  </div>
  <div class="carousel-new-arrivals__items">
    <button
      class="carousel-new-arrivals__arrow carousel-new-arrivals__arrow--left"
    >
      &lt;
    </button>

    <div class="carousel-new-arrivals__item">
      <img
        width="318"
        class="carousel-new-arrivals__image"
        src="img/global/vitalife-crunch-sticks.png"
        alt="VITALIFE Crunch Sticks Treat"
      />
      <a href="shop/vitalife-crunch-sticks.html"
        >VITALIFE Crunch Sticks Treat</a
      >
      <p class="carousel-new-arrivals__price">
        <data value="5">$5.00</data>
      </p>
      <button 
  class="carousel-new-arrivals__button carousel-new-arrivals__button--add-to-cart"
  data-hx-post="/cart/add"
  data-hx-vals='{"productId": 51}'
>
  Add to Cart
</button>
    </div>

    <div class="carousel-new-arrivals__item">
      <img
        width="318"
        class="carousel-new-arrivals__image"
        src="img/global/duna-woven-toy.png"
        alt="DUNA Woven Toy"
      />
      <a href="shop/duna-woven-toy.html">DUNA Woven Toy</a>
      <p class="carousel-new-arrivals__price">
        <data value="1.5">$1.50</data>
      </p>
      <button 
      class="carousel-new-arrivals__button carousel-new-arrivals__button--add-to-cart"
      data-hx-post="/cart/add"
      data-hx-vals='{"productId": 44}'
    >
      Add to Cart
    </button>
    </div>

    <div class="carousel-new-arrivals__item">
      <img
        width="318"
        class="carousel-new-arrivals__image"
        src="img/global/sera-woven-leash.png"
        alt="SERA Woven Leash"
      />
      <a href="shop/sera-woven-leash.html">SERA Woven Leash</a>
      <p class="carousel-new-arrivals__price">
        <data value="2">$2.00</data>
      </p>
      <button 
  class="carousel-new-arrivals__button carousel-new-arrivals__button--add-to-cart"
  data-hx-post="/cart/add"
  data-hx-vals='{"productId": 47}'
>
  Add to Cart
</button>
    </div>

    <div class="carousel-new-arrivals__item">
      <img
        width="318"
        class="carousel-new-arrivals__image"
        src="img/global/opty-plastic-bowl.png"
        alt="OPTY Plastic Bowl"
      />
      <a href="shop/opty-plastic-bowl.html">OPTY Plastic Bowl</a>
      <p class="carousel-new-arrivals__price">
        <data value="3">$3.00</data>
      </p>
      <button 
  class="carousel-new-arrivals__button carousel-new-arrivals__button--add-to-cart"
  data-hx-post="/cart/add"
  data-hx-vals='{"productId": 49}'
>
  Add to Cart
</button>
    </div>

    <div class="carousel-new-arrivals__item">
      <img
        width="318"
        class="carousel-new-arrivals__image"
        src="img/global/ego-butterfly-toy.png"
        alt="EGO Butterfly Toy"
      />
      <a href="shop/ego-butterfly-toy.html">EGO Butterfly Toy</a>
      <p class="carousel-new-arrivals__price">
        <data value="8">$8.00</data>
      </p>
      <button 
  class="carousel-new-arrivals__button carousel-new-arrivals__button--add-to-cart"
  data-hx-post="/cart/add"
  data-hx-vals='{"productId": 50}'
>
  Add to Cart
</button
      class="carousel-new-arrivals__arrow carousel-new-arrivals__arrow--right"
    >
      &gt;
    </button>
  </div>
</section>
