<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Pet Store</title>
    <link rel="icon" type="image/x-icon" href="assets/images/global/favicon.ico"/>
    <script
            src="https://unpkg.com/htmx.org@1.9.10"
            integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
            crossorigin="anonymous"
    ></script>
</head>
<body>
<header></header>
<main>
    <!-- Vitalii Maletych -->
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.promo-banners.partial.html"></section>
    <section data-hx-trigger="load" data-hx-swap="outerHTML"
             data-hx-get="index.carousel-products.partial.html"></section>
    <!-- Pavlo Kataranchuk -->
    <section
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="index.carousel-promo.partial.html"
    ></section>
    <!-- Halyna Bondarchuk -->
    <section
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="index.our-shop.partial.html"
   ></section>
    <!--Inha Kryshtal-->
    <section
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="index.testimonials.partial.html"
    ></section>
    <!-- Pavlo Kataranchuk -->
    <section
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="index.food.partial.html"
    ></section>
    <!-- Oleksandr Vasylovych-->
    <section
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="index.carousel-new-arrivals.partial.html"
    ></section>
    <!-- Margo Matskevych -->
    <section
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="index.cart.partial.html"
    ></section>
</main>
<footer></footer>
</body>
</html>
